html,
body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  font-family: "Nunito";
  
}
input{
  color: #000 !important;
}
.input-group-text{
  background: #fff !important;
  border: none  !important;
}

.ant-dropdown {
  max-width: 300px !important;
  
}

.rc-pagination-item-active{
  border: none !important;
}
.rc-pagination-item-active a{
  background: #8b5cf6 !important;
  border: #8b5cf6;
  border: 1px solid #8b5cf6 !important;
  color: #fff !important;

}

.rc-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px !important;
  transform: scale(1.1);
}

.rc-pagination li{
  margin-right: 0;
}

.rc-pagination li:hover{
  border: 1px solid #8b5cf6 !important;
}

.rc-pagination li a{
  
}

.rc-pagination .rc-pagination-prev button{
  padding: 0 5px;
  width: 100px;
}
.rc-pagination .rc-pagination-next button{
  padding: 0 5px;
  width: 100px;
}

.rc-pagination .rc-pagination-prev button::after{
  content: "Oldingi" !important;
  color: #8b5cf6;
}

.rc-pagination .rc-pagination-next button::after{
  content: "Keyingi" !important;
  color: #8b5cf6;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-inline-end: 8px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
}

input{
  background: #fff !important;
  color:#000;
}

.swiper{
  height: 100%;
}
.swiper-wrapper{
  height: 100%;
}
.swiper-slide{
  height: 100%;
}

@font-face {
  font-family: 'Azo Sans';
  src: local('Azo Sans Bold Italic'), local('AzoSans-BoldItalic'),
      url('./fonts/AzoSans-BoldItalic.woff2') format('woff2'),
      url('./fonts/AzoSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Tn';
  src: local('Azo Sans Thin'), local('AzoSans-Thin'),
      url('./fonts/AzoSans-Thin.woff2') format('woff2'),
      url('./fonts/AzoSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Lt';
  src: local('Azo Sans Light Italic'), local('AzoSans-LightItalic'),
      url('./fonts/AzoSans-LightItalic.woff2') format('woff2'),
      url('./fonts/AzoSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Tn';
  src: local('Azo Sans Thin Italic'), local('AzoSans-ThinItalic'),
      url('./fonts/AzoSans-ThinItalic.woff2') format('woff2'),
      url('./fonts/AzoSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans';
  src: local('Azo Sans Regular'), local('AzoSans-Regular'),
      url('./fonts/AzoSans-Regular.woff2') format('woff2'),
      url('./fonts/AzoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Md';
  src: local('Azo Sans Medium Italic'), local('AzoSans-MediumItalic'),
      url('./fonts/AzoSans-MediumItalic.woff2') format('woff2'),
      url('./fonts/AzoSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Bk';
  src: local('Azo Sans Black'), local('AzoSans-Black'),
      url('./fonts/AzoSans-Black.woff2') format('woff2'),
      url('./fonts/AzoSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Md';
  src: local('Azo Sans Medium'), local('AzoSans-Medium'),
      url('./fonts/AzoSans-Medium.woff2') format('woff2'),
      url('./fonts/AzoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Bk';
  src: local('Azo Sans Black Italic'), local('AzoSans-BlackItalic'),
      url('./fonts/AzoSans-BlackItalic.woff2') format('woff2'),
      url('./fonts/AzoSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Lt';
  src: local('Azo Sans Light'), local('AzoSans-Light'),
      url('./fonts/AzoSans-Light.woff2') format('woff2'),
      url('./fonts/AzoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans';
  src: local('Azo Sans Italic'), local('AzoSans-Italic'),
      url('./fonts/AzoSans-Italic.woff2') format('woff2'),
      url('./fonts/AzoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans';
  src: local('Azo Sans Bold'), local('AzoSans-Bold'),
      url('./fonts/AzoSans-Bold.woff2') format('woff2'),
      url('./fonts/AzoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-BoldItalic.woff2') format('woff2'),
      url('./fonts/Nunito-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('./fonts/Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Light.woff2') format('woff2'),
      url('./fonts/Nunito-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Medium.woff2') format('woff2'),
      url('./fonts/Nunito-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
      url('./fonts/Nunito-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
      url('./fonts/Nunito-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-LightItalic.woff2') format('woff2'),
      url('./fonts/Nunito-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Italic.woff2') format('woff2'),
      url('./fonts/Nunito-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-ExtraBold.woff2') format('woff2'),
      url('./fonts/Nunito-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Bold.woff2') format('woff2'),
      url('./fonts/Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Regular.woff2') format('woff2'),
      url('./fonts/Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-MediumItalic.woff2') format('woff2'),
      url('./fonts/Nunito-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-BlackItalic.woff2') format('woff2'),
      url('./fonts/Nunito-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Black.woff2') format('woff2'),
      url('./fonts/Nunito-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-SemiBold.woff2') format('woff2'),
      url('./fonts/Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
      url('./fonts/Nunito-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
